/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"), url(https://fonts.gstatic.com/s/oswald/v10/yg0glPPxXUISnKUejCX4qfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"), url(https://fonts.gstatic.com/s/oswald/v10/BObL_3V2WX-YniTOi4CsnvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* line 21, ../sass/variables/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Oswald", Arial, sans-serif; }

/* line 26, ../sass/variables/_typography.scss */
body, html, p {
  color: #555; }

/* No files to import found in abstractions/**\/* */
/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 4, ../sass/components/_front.scss */
.front #block-views-applications-block h2.block__title {
  text-align: center; }
/* line 9, ../sass/components/_front.scss */
.front #block-views-applications-block .view-content .views-row {
  width: 33%;
  display: inline-block;
  padding: 0 .5em;
  vertical-align: top; }
  /* line 15, ../sass/components/_front.scss */
  .front #block-views-applications-block .view-content .views-row .views-field-title {
    text-align: left;
    background: #885331;
    width: 100%;
    border-radius: .25em;
    padding: .25em; }
    /* line 22, ../sass/components/_front.scss */
    .front #block-views-applications-block .view-content .views-row .views-field-title h3 {
      margin: 0; }
    /* line 26, ../sass/components/_front.scss */
    .front #block-views-applications-block .view-content .views-row .views-field-title a {
      text-decoration: none;
      color: #FFF;
      width: 100%;
      display: block;
      padding: .5em 0;
      padding-left: .5em; }
  /* line 37, ../sass/components/_front.scss */
  .front #block-views-applications-block .view-content .views-row .views-field-title:hover {
    background: #3e441e;
    cursor: pointer; }

/* line 1, ../sass/components/_navigation.scss */
.header-wrapper {
  background: #3e441e;
  color: #c1bb86;
  width: 100%;
  padding-top: 1em;
  font-family: "Oswald", Arial, sans-serif; }
  /* line 11, ../sass/components/_navigation.scss */
  .header-wrapper header a {
    color: #9d8930; }
  /* line 15, ../sass/components/_navigation.scss */
  .header-wrapper header .l-branding {
    max-width: 1170px;
    margin: 0 auto;
    display: block;
    vertical-align: middle; }
    /* line 21, ../sass/components/_navigation.scss */
    .header-wrapper header .l-branding .site-logo {
      display: inline-block;
      vertical-align: middle; }
      /* line 25, ../sass/components/_navigation.scss */
      .header-wrapper header .l-branding .site-logo img {
        width: 80px;
        height: auto;
        padding: .25em;
        background: #c1bb86;
        border-radius: .25em;
        border: thin solid #3e441e; }
    /* line 35, ../sass/components/_navigation.scss */
    .header-wrapper header .l-branding .name-slogan {
      display: inline-block;
      vertical-align: middle;
      margin-left: .5em; }
      /* line 40, ../sass/components/_navigation.scss */
      .header-wrapper header .l-branding .name-slogan a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: normal; }
      /* line 46, ../sass/components/_navigation.scss */
      .header-wrapper header .l-branding .name-slogan .site-slogan, .header-wrapper header .l-branding .name-slogan .site-name {
        font-weight: normal;
        margin: 0; }
      /* line 51, ../sass/components/_navigation.scss */
      .header-wrapper header .l-branding .name-slogan .site-slogan {
        margin-top: -.5em; }
  /* line 58, ../sass/components/_navigation.scss */
  .header-wrapper header .l-header {
    max-width: 1170px;
    margin: 0 auto;
    display: block;
    min-height: 75px;
    background: #c27d30; }

/* line 69, ../sass/components/_navigation.scss */
.nav-wrapper {
  background: #c27d30;
  color: white;
  width: 100%;
  margin-top: -22px;
  font-family: "Oswald", Arial, sans-serif; }
  /* line 77, ../sass/components/_navigation.scss */
  .nav-wrapper .l-region--navigation {
    max-width: 1170px;
    margin: 0 auto;
    display: block; }
    /* line 82, ../sass/components/_navigation.scss */
    .nav-wrapper .l-region--navigation ul.menu {
      padding: .5em 0;
      margin: 0;
      position: relative;
      margin-left: 75px;
      vertical-align: middle; }
      /* line 89, ../sass/components/_navigation.scss */
      .nav-wrapper .l-region--navigation ul.menu li {
        list-style-image: none;
        display: inline-block;
        vertical-align: middle;
        padding: 0 2em; }
        /* line 95, ../sass/components/_navigation.scss */
        .nav-wrapper .l-region--navigation ul.menu li .first {
          padding-left: 0; }
        /* line 99, ../sass/components/_navigation.scss */
        .nav-wrapper .l-region--navigation ul.menu li a {
          color: #FFFFFF;
          font-weight: normal;
          font-size: 20px;
          text-shadow: none;
          text-align: center;
          text-transform: uppercase;
          white-space: nowrap;
          text-decoration: none; }

/* line 116, ../sass/components/_navigation.scss */
.l-main {
  max-width: 1170px;
  margin: 0 auto; }

/* line 1, ../sass/components/_node.scss */
body, html {
  background: url("../images/lghtmesh.png") repeat;
  color: #a7a7a7; }

/* line 6, ../sass/components/_node.scss */
.l-main {
  background: #f2f2f2;
  padding: 1em; }

/* line 11, ../sass/components/_node.scss */
a, a:visited {
  color: #3e441e; }

/*# sourceMappingURL=lsf.no-query.css.map */
