# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

*.zip

#Ignore lsf DB connection info
sites/all/modules/lsf_subscription/*.ini

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

#Ignore uploaded shapefiles
sites/all/modules/lsf_subscription/cgi-bin/shp_tmp/*
